# Loops

#### 1. Print numbers from 1 to 5 using a while loop.

In [5]:
i = 1
print("**** The Numbers from 1 to 5 is ****")
while (i<=5):
    print(i)
    i = i+1

**** The Numbers from 1 to 5 is ****
1
2
3
4
5

#### 2. Calclate the sum of number from 1 to 10 using a while loop.

In [8]:
i = 1
s = 0
while (i<=10):
    s = s + i
    i = i+1
print("Sum = ", s)

Sum =  55

#### 3. Calclate the factorial of a number using a for loop.

In [16]:
a = input ("Enter a number to find the factorial")  # Prompt the user to enter a number
n = int(a)     # Convert the input string to an integer
fact = 1       # Initialize the factorial result variable
for i in range(1, n+1):   # Iterate from 1 through n (inclusive)
    fact = fact * i       # Logic - Factorial (1*2*3*.....n)
    i = i + 1

print("Factorial = ", fact)  # Print the result

Enter a number to find the factorial 5

Factorial =  120

#### 4. Count the number of vowel in a string using a for loop.

In [43]:
vowels = ['a','e','i','o','u','A','E','I','O','U']  # list containing vowels
string = input("Enter the string to count the vowels") # input the string
count = 0 # initialize count variable 

for char in string: # use 'char' instead of 'i' for string characters
    if char in vowels: # condition 
        count = count +1

print("count = ", count)

Enter the string to count the vowels seena

count =  3

In [53]:
# Same logic implemented using a while loop.
i = 0
count =0
s = len(string)   # length of the string
while(i<s):
    if string[i] in vowels:
        print(string[i])
        count = count +1
    i = i+1
print("count = ", count)

e
e
a
count =  3

#### 5. Print a pattern using nested loop.

In [67]:
# left-aligned triangle
for i in range(5):          # Outer loop handles the number of rows
    for j in range(i+1):    # Inner loop handles the number of columns, incrementing based on the current row
        print("%", end="  ")  # Print '%' and stay on the same line with two spaces
    print()                 # After finishing each row's column prints, move to a new line

%
%  %
%  %  %
%  %  %  %
%  %  %  %  %

In [66]:
# Right-Aligned Triangle
for i in range(5):
    # Print spaces first
    for space in range(5 - i - 1):
        print("  ", end=" ")
    # Then print the '%' symbols
    for j in range(i + 1):
        print("%", end="  ")
    print()

            %
         %  %
      %  %  %
   %  %  %  %
%  %  %  %  %

In [63]:
# Inverted left-aligned triangle
for i in range(5, 0, -1):
    for j in range(i):
        print("%", end="  ")
    print()

%  %  %  %  %
%  %  %  %
%  %  %
%  %
%

In [68]:
# Inverted Right-Aligned Triangle
for i in range(5, 0, -1):
    for space in range(5 - i):
        print("  ", end=" ")
    for j in range(i):
        print("%", end="  ")
    print()

%  %  %  %  %
   %  %  %  %
      %  %  %
         %  %
            %

In [70]:
# Center-Aligned Triangle (Pyramid)
for i in range(5):
    for space in range(5 - i - 1):
        print(" ", end=" ")
    for j in range(2 * i + 1):
        print("%", end=" ")
    print()

        %
      % % %
    % % % % %
  % % % % % % %
% % % % % % % % %

#### 6. Generate a mltiplication table using nested loop.

In [82]:
for i in range(1, 11):                # Outer loop: Iterate over the values from 1 to 10
    for j in range(1, 11):            # Inner loop: Iterate over the values from 1 to 10
        mul = i * j                   # Calculate the multiplication result
        print(f"{i} * {j} = {mul}")   # Print the formatted multiplication result
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [76]:
# Outer loop: Iterate over the values from 1 to 10
for i in range(1, 11):
    # Inner loop: Iterate over the values from 1 to 10
    for j in range(1, 11):
        # Calculate the multiplication result
        mul = i * j
        # Print the formatted multiplication result
        print(f"{i} * {j} = {mul}")
    # Print a blank line to separate tables
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100